body{
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

.container{
    width: 755px;
    height: auto;
    background-color:  #FFB084;
    margin: 0 auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1.32fr 1fr 1fr;
    gap: 18px 22px;
    padding: 20px;
    
}
.container div{
    border-radius: 20px;
    background: white;
    padding: 10px 20px;
}

.item1{
    grid-row: 1/12;
    box-shadow: 7px 7px 0px #000000;
    font-size: 12px;
}
.item1 div:nth-of-type(2){
    text-align: center;
}
img{
    width: 70%;
}
.item1 div:nth-of-type(3){
    line-height: 3;
    word-spacing: 2px;
    margin-top: 20px;
}

h2{
    text-align: center;
    font-size: 2em;
    margin: 0;
}
.item2{
    grid-column: 2/4;
    grid-row: 1/3;
    font-size: 14px;
    line-height: 24px;
    box-shadow: 7px 7px 0px #000000;
}

.item3{
    grid-row: 3/8;
    box-shadow: 7px 7px 0px #29A71E;
    font-size: 14px;
    padding: 10px 10px;
}
.item3 div:nth-of-type(1){
    color: #29A71E;
    margin: 0;
    padding: 5px;
   }
   .item3 div:nth-of-type(2){
    margin: 0;
    padding: 0;
   }
  
.item4{
    grid-row: 3/11;
    box-shadow: 7px 7px 0px #E13535;
    font-size: 14px;
    padding: 10px 10px;
}
.item4 div:nth-of-type(1){
    color: #E13535;
    margin: 0;
    padding: 5px;
}
   .item4 div:nth-of-type(2){
    margin: 0;
    padding: 0;
}
.item5{
    grid-row: 8/14;
    box-shadow: 7px 7px 0px #3675B0;
    font-size: 14px;
    padding: 10px 10px;
}
.item5 div:nth-of-type(1){
    color: #3675B0;
    margin: 0;
    padding: 5px;
}
   .item5 div:nth-of-type(2){
    margin: 0;
    padding: 0;
}
.item6{
    grid-row: 11/14;
    box-shadow: 7px 7px 0px #000000;
    font-size: 14px;
    padding: 10px 10px;
}
.item7{
    grid-row: 12/14;
    box-shadow: 7px 7px 0px #000000;
    align-self: center;
    font-size: 14px;
}